* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #D5E68D;
    text-align: center;
}
.win-Msg {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    display: none;
}
#draw-Msg {
    font-size: 1.5rem;
    display: none;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}
.box {
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-size: 10vmin;
    background-color: #E0EDAB;
}
#reset-btn {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 1rem;
    background-color: #241023;
    color: white;
}
